/node_modules
/public/hot
/public/*.ini
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
note.log
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
